
<div class="content-box">
  <h1 id="ab-header">About Jacques' Bikes</h1>
    <% if notice %>
      <p id="notice" class="alert alert-primary"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p id="alert" class="alert alert-primary"><%= alert %></p>
    <% end %>
    <div class="row">
      <div class="col-md-8">
        <p id="ab-para">Ever spent countless hours searching for an affordable bicycle in Berlin,
          only to be let down by the prices? So was I. I started this page to help
          make one of Berlin's favourite (some would say essential) mode of transport more affordable for everyone!.</p>
      </div>
    </div>
  </div>
</div>
