<% provide(:title, "About") %>

      <h1>Jacques' Bike-Shop</h1>
      <p class="contact">We are a Bike Shop based in Berlin. <br><br>In our shop, you can find a huge variety of bikes for different usages. <br><br>If you have any questions, we would like to help you. Just contact us.</p><br>
