<div class="page-wrap">
  <h1> Jacques Used Bikes</h1>
  <h2> Welcome to the best range of bikes in Berlin!</h2>
  <div class="container-fluid" id="image">
    <%= image_tag("sunset-bike.jpg", height: '400', width: '800', class: "img-responsive") %>
  </div>
</div>
