<table>
  <tbody>
    <tr>
      <td><h2>Order confirmed</h2></td>
    </tr>
    <tr>
      <td><p>Thank you for buying <%= @product.name %> with <%= @appname %>.</p></td>
    </tr>
    <tr>
      <td><p><strong>Your <%= @appname %> Team</strong></p></td>
    </tr>
  </tbody>
</table>
