<div class="container order_info">
  <h2>Order Information</h2>
   <div class="order-info">
    <strong>Order ID: </strong><%= @order.id %>
    <strong>Product Name: </strong><%= @order.product.name %>
    <strong>Price: </strong><%= number_to_currency(@product.total/100.to_f) %>
  </div>
</div>
