// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

img {
  max-width: 100%;
}

/**stripe-button**/

.stripe-button-el {
  margin-left: 21.8em;
  margin-top: 1em;
}

#s-button{
margin-left: 9em;
}
