<p id="notice"><%= notice %></p>

<h1 id="pro-header">Products</h1>

<tr>
  <% @products.each do |product| %>
  <%= render @products %>
   <% end %>
<br>
<%= link_to '', new_product_path, class: "new-product-btn fa fa-plus-circle fa-2x btn btn-primary" %>

</tr>
