<h1 id="pro-header">Products</h1>

<tr>
  <%= cache(cache_key_for_products) do %>
  <%= render @products %>
   <% end %>
<br>
<%= link_to '', new_product_path, class: "new-product-btn fa fa-plus-circle fa-2x btn btn-primary" %>

</tr>
